################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConfigurationJSONData
/.vs
/ConfigurationJSONData/obj
/ConfigurationJSONData/bin
